<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <span class="navbar-brand">Recipe Planner</span>
  <ul class="nav navbar-nav mr-auto">
    <li routerLinkActive="active" class="nav-item active">
      <a [routerLink]="['/plan']" class="nav-link">Plan</a>
    </li>
    <li [routerLink]="['/schedule']" routerLinkActive="active" class="nav-item">
      <a class="nav-link">Schedule</a>
    </li>
    <li [routerLink]="['/admin']" routerLinkActive="active" class="nav-item">
      <a class="nav-link">Admin</a>
    </li>
  </ul>
</nav>
